[tool.poetry]
name = "tvolib"
version = "0.3.0"
description = "A personal collection of Python and IDL research tools in Space Plasma Physics."
authors = ["Tien Vo <tien.a.vo@proton.me>"]
readme = "README.md"
license = "GPL-3.0-or-later"
packages = [
    { include = "tvolib", from = "src" }
]
repository = "https://github.com/tien-vo/tvolib"
classifiers = [
    "Programming Language :: Python",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Topic :: Scientific/Engineering :: Physics",
]

[tool.poetry.dependencies]
python = ">=3.10,<3.13"
matplotlib = "*"
numpy = "*"
astropy = "*"
scipy = "*"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
